{% extends 'partial/base.html' %}
{% load static %}
{% block title %}Cart{% endblock %}

{% block content %}
{% load my_filters %}

    <!-- Breadcrumb Section Start -->
    <section class="breadcrumb-section pt-0">
        <div class="container-fluid-lg">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-contain">
                        <h2>Cart</h2>
                        <nav>
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item">
                                    <a href="{% url 'product:index' %}">
                                        <i class="fa-solid fa-house"></i>
                                    </a>
                                </li>
                                <li class="breadcrumb-item active">Cart</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Cart Section Start -->
    <section class="cart-section section-b-space">
        <div class="container-fluid-lg">
            <div class="row g-sm-5 g-3">
                <div class="col-xxl-9">
                    <div class="cart-table">
                        <div class="table-responsive-xl">
                            <table class="table">
                                <tbody>
                                    {% for item in cart_items %}
                                    <tr class="product-box-contain">
                                        <td class="product-detail">
                                            <div class="product border-0">
                                                <a href="product-left-thumbnail.html" class="product-image">
                                                    <img src="{{ item.product.image.url }}"
                                                        class="img-fluid blur-up lazyload" alt="{{ item.product.name }}">
                                                </a>
                                                <div class="product-detail">
                                                    <ul>
                                                        <li class="name">
                                                            <a href="product-left-thumbnail.html">{{ item.product.name|truncatewords:2 }}</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="price">
                                            <h4 class="table-title text-content">Price</h4> 
                                        {% for color in item.product.availablesize_set.all %}
                                            {% if color.regular_price %}
                                                <h5>₹{{ color.sale_price | discount_price:color.regular_price | floatformat:2 }}</h5>
                                            {% else %}
                                            <h5>{{ color.sale_price | floatformat:2 }}</h5>
                                            {% endif %}
                                        {% endfor %}
                                        </td>
                                        <td class="quantity">
                                            <h4 class="table-title text-content">Qty</h4>
                                            <div class="quantity-price">
                                                <div class="cart_qty">
                                                    <div class="input-group">
                                                        <button type="button" class="btn qty-left-minus minus cart-minus-btn" data-product-id="{{ item.product.id }}" data-cart-id="{{ item.id }}">
                                                            <i class="fa fa-minus ms-0"></i>
                                                        </button>
                                                        <input id="product-qty{{ item.product.id }}" class="form-control input-number qty-input quantity-field" type="text"
                                                            name="quantity" value="{{ item.quantity }}">
                                                        <button type="button" class="btn qty-right-plus plus cart-add-btn" data-product-id="{{ item.product.id }}">
                                                            <i class="fa fa-plus ms-0"></i>
                                                        </button>

                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="subtotal">
                                            <h4 class="table-title text-content">Total</h4>
                                            <h5 class="product-subtotal" id="product-price{{ item.product.id }}">₹{{item.get_total_price|floatformat:0}}</h5>
                                        </td>
                                        <td class="save-remove">
                                            <h4 class="table-title text-content">Action</h4>
                                            <a class="save notifi-wishlist" href="javascript:void(0)">Save for later</a>
                                            <a class="remove close_button product-remove" href="" data-cart-item-id="{{ item.id }}">Remove</a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-xxl-3">
                    <div class="summery-box p-sticky">
                        <div class="summery-header">
                            <h3>Cart Total</h3>
                        </div>
                        <div class="summery-contain">
                            <div class="coupon-cart">
                                <h6 class="text-content mb-2">Coupon Apply</h6>
                                <div class="mb-3 coupon-box input-group">
                                    <input type="text" class="form-control" id="coupon_code_input" placeholder="Enter Coupon Code Here...">
                                    <button class="btn-apply">Apply</button>
                                </div>
                            </div>
                        
                            
                            <ul>
                                <li>
                                    <h4>Subtotal</h4>
                                    <h4 class="price" id="cart_total">₹{{ total|floatformat:2 }}</h4>
                                </li>

                                <li>
                                    <h4>Coupon Discount</h4>
                                    <h4 class="price" id="coupon_discount_amount">(-) ₹0.00</h4>
                                </li>

                                <li class="align-items-start">
                                    <h4>Shipping</h4>
                                    <h4 class="price text-end">₹6.90</h4>
                                </li>
                            </ul>
                        </div>

                        <ul class="summery-total">
                            <li class="list-total border-top-0">
                                <h4>Total (USD)</h4>
                                <h4 class="price theme-color" id="total_amount">₹{{ total|floatformat:2 }}</h4>
                            </li>
                        </ul>

                        <div class="button-group cart-button">
                            <ul>
                                <li>
                                    <button onclick="location.href = '{% url 'order:checkout' %}';"
                                        class="btn btn-animation proceed-btn fw-bold">Process To Checkout</button>
                                </li>

                                <li>
                                    <button onclick="location.href = 'index.html';"
                                        class="btn btn-light shopping-button text-dark">
                                        <i class="fa-solid fa-arrow-left-long"></i>Return To Shopping</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Cart Section End -->

    {% include "web/ajax/include/cart-minus-plus.html" %}

{% endblock %}

  